.background {
    /*background-image: url('/images/sand.jpg'); */
    background-color: lightcyan;
    width: inherit;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    height: fit-content;
}